:root {
    --env: #242e32;
    /* --env: rgb(127, 138, 151); */
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #415259;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--env);
    border: 1px solid black;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
 }


.cm-num {
    color: #e7c9a0;
}

.cm-brack {
    color: #e7e169;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 3px solid var(--env);
    background-color: #415259;
    /* justify-self: center; */
    align-self: center;
    margin-top: -7px;
    width: 99.8%;
}

.checker {
 /* position: absolute; */
    padding-top: 20px;
    padding-left: 10px;
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
    float: left;
    cursor: pointer;
    min-width: 100px;
}

.inli {
    color: var(--env);
    font-size: 15px;
    position: absolute;
    top: 20px;
    left: 200px;
    height: 20px;
    border-radius: 5px;
}


.toggler {
    transform: scale(1.7);
    margin-right: 10px;
    /* width: 50px;
    height:100px; */
}

.navli {
    display: block;
    color: rgb(148, 148, 148);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    float: left;
    cursor: pointer;
}

li.nav:hover {
    background-color: #111;
}

ul.fs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

button.fs {
    background-color: #4b5052;
    /* c2c2c2 */
    border: none;
    color: rgb(242, 242, 242);
    padding: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
}

/* dedede */
button.fs:hover {
    background-color: #5a6164;
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow: scroll;
    width: 100vh;
    resize: none;
    border-style: none;
    border-color: Transparent;
    font-family: 'Courier New', monospace;
    scrollbar-width: none;
}

textarea::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.unselectable {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    overflow: hidden !important;
    scrollbar-width: none !important;
}

.CodeMirror {
    background: transparent !important;
    overflow-y: auto;
    white-space: nowrap;
    overflow-x: scroll;
}

.highlight_red {
    background-color: rgb(123, 84, 84);
    color: white;
}

.highlight_yellow {
    background-color: rgb(155, 148, 87);
    color: white;
}

.highlight_gray {
    background-color: #1d2528;
}

.fa:hover,
.fas:hover {
    transition: transform .5s;
    transform: scale(1.1);
    cursor: pointer;
}

.fa,
.fas {
    transition: transform .5s;
    transform: scale(1)
}


button.term {
    background-color: #c2c2c2;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 4px;
    margin: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 10px;
    width: 11%;
}

button.term:hover {
    background-color: #dedede;
}

div.term {
    background: var(--env);
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

div.undoredo {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 77px;
    left: 67%;
    align-items: center;
    padding: 6px;
    padding-bottom: 3.5px;
    background-color: var(--env);
    border-radius: 5px;
}

div.saveIcon {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 68.5px;
    left: 63%;
    align-items: center;
    color: #657F89;
    /* font-style: blue; */
    font-size: 30px;
    padding: 6.5px;
    padding-bottom: 3.0px;
}